*,
*::before,
*::after {
  box-sizing: border-box;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.article-image {
  max-width: 100%;
  vertical-align: middle;
}

.article-item {
  display: flex;
  padding: 0.5rem;
  width: 250px;
  /* scroll snapping */
  scroll-snap-align: start;

  scroll-snap-stop: always;
}

.article {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: inset 0 20px 40px -14px rgba(53, 53, 53, 0.6);
  text-decoration: none;
  color: black;
  overflow: hidden;
}
.article-dark-mode {
  background-color: #1b282f;
  border-radius: 0.25rem;
  box-shadow: inset 0 20px 40px -14px rgba(53, 53, 53, 0.6);
  text-decoration: none;
  color: rgb(0, 0, 0);
  overflow: hidden;
}

.article.liberal {
  box-shadow: inset 0 20px 40px -8px rgba(0, 0, 255, 0.6);
}

.article.conservative {
  box-shadow: inset 0 20px 40px -8px rgba(255, 0, 0, 0.6);
}

.article-content {
  padding: 1rem;
}

.article_headline,
.article_headline-dark {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Open Sans';
  color: black;
}

.article_headline-dark {
  color: wheat;
}

.bookmark {
  position: relative;
  bottom: 0;
  right: 0;
}

@media (min-width: 768px) {
  .article-item {
    width: 250px;
  }
}
