*,
*::before,
*::after {
  box-sizing: border-box;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  
}
.article_image {
  max-width: 100%;
  vertical-align: middle;
}

.article__item {
  display: flex;
  padding: .5rem;
  width: 250px;
  /* scroll snapping */
  scroll-snap-align: start;

  /* maybe this will work in the future 🤷‍♂️ */
  scroll-snap-stop: always;
}

.article {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: black;
  overflow: hidden;
}

.article__content {
  padding: 1rem;
}

.article_headline {
  font-size: 12px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .article__item {
    width: 250px;
  }
}

@media (min-width: 1028px) {
  .article__item {
    width: 300px;
  }
}