.Bias_content {
  display: flex;
  overflow-x: scroll;
  /* padding: 20px; */

  /* prevent accidentally going back or triggering other swipe events */
  /* overscroll-behavior: contain; */

  /* hide scroll bar */
  scrollbar-width: none;
  -ms-overflow-style: none;

  /* momentum scroll on iOS */
  -webkit-overflow-scrolling: touch;

  /* disbable vertical scroll for touch */
  touch-action: pan-x;

  /* scroll snapping */
  scroll-snap-type: x mandatory;

  /* stop scrolling before reaching edge */
  scroll-padding-left: 30px;
  scroll-padding-inline-start: 0px;
}

.Bias_content::-webkit-scrollbar {
  display: none;
}

.Bias_heading {
  clear: both;
  margin-bottom: 0px;
}
