.bias-content {
  display: flex;
  overflow-x: scroll;
  /* padding: 20px; */

  /* prevent accidentally going back or triggering other swipe events */
  /* overscroll-behavior: contain; */

  /* hide scroll bar */
  scrollbar-width: none;
  -ms-overflow-style: none;

  /* momentum scroll on iOS */
  -webkit-overflow-scrolling: touch;

  /* disbable vertical scroll for touch */
  /* touch-action: pan-x; */

  /* scroll snapping */
  scroll-snap-type: x mandatory;

  /* stop scrolling before reaching edge */
  scroll-padding-left: 30px;
  scroll-padding-inline-start: 0px;
}

.bias-content::-webkit-scrollbar {
  display: none;
}

.bias-heading {
  clear: both;
  margin-bottom: 0px;
  font-family: "Open Sans";
  padding-left: 1%;
  /* color: black; */
  font-size: 1.6rem;
}

.article-bar{
  padding-bottom: 2%;
}

.articlebar-header{
  display: flex;
  flex-flow: row wrap;
  position: relative;
  
}
.arrows{
  position: absolute;
  bottom: 0;
  right: 2%;
}

.left-paddle{
  float: left;
}
.right-paddle{
  float: right;
}

.left-paddle-dark{
  float: left;
  color: #ffffff;
}
.right-paddle-dark{
  float: right;
  color: #ffffff;
}

.error-message{
  padding-left: 1%;
}
.hidden {
	display: none;
}

.bias-heading.liberal{
  color: #175ab8;
}

.bias-heading.conservative{
  color: #BF0D3E;
}

.bias-heading.neutral{
  color: #030303;
}
