.app{
    background-color: #DEE4E7;
    height: '100vh';
    min-height: '100vh';
}

.app-dark-mode{
    background-color: #364953;
    height: '100vh';
    height: '100%';
    min-height: '100vh';
}