
.login-wrapper {
  background-color: #dee4e7;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.login-content {
margin-left: 5%;
margin-right: 5%;
}

.app-title-login {
  text-align: center;
  margin: 0%;
  padding-top: 11%;
}

.article-logo {
  height: 45%;
  width: 50%;
  margin: auto;
  display: block;
  padding-top: 5%;
}

.intro-lead {
  font-weight: bold;
}
.form-group {
  justify-content: center;
  padding-bottom: 2%;
}


/* ================================= 
  Media Queries
==================================== */
@media (min-width: 769px) {
  .app-title-login {
    padding-top: 5%;
  }
  .article-logo {
    width: 50%;
    margin: auto;
    display: block;
    padding-top: 5%;
  }
}


@media (min-width: 1025px) {
  .app-title-login {
    margin-bottom: 5%;
  }
  .intro {
    float: left;
    margin-left: 10%;
    width: 30%;
  }
  .article-logo {
    float: right;
    vertical-align: middle;
    width: 40%;
    max-width: 40%;
    height: 100%;
  }
}

@media (min-width: 1600px) {
  .article-logo {
    padding-top: 0%;
  }
}