.header-container {
  line-height: 1.6;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
  color: #34495e;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

.main-nav {
  margin-top: 5px;
}
.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: white;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #000000;
}

.header,
.header-dark-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #4c7edb;
}

.header-dark-mode {
  background-color: #072866;
}

.main-nav {
  display: flex;
}

.dark-mode-toggle {
  margin-right: auto;
  margin-left: 4%;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .header-container{
    padding: 20px 0;
  }
  .header,
  .main-nav {
    display: flex;
  }
  .header,
  .header-dark-mode {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .nav-link{
    margin: 0 5px;
  }
  .dark-mode-toggle {
  margin-right: auto;
  margin-left: 0%;
}
}

@media (min-width: 1025px) {
  .header,
  .header-dark-mode {
    justify-content: space-between;
  }
    .nav-link{
    margin: 0 30px;
  }
}
