.saved-articles {
  text-align: center;
  background-color: #dee4e7;
  height: 100%;
  min-height: 100vh;
}

.saved-articles-dark {
  background-color: #364953;
  height: 100%;
  text-align: center;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
